body {
  zoom: unset;
  user-select: none;
  margin: 0px;
  overscroll-behavior-y: contain;
}
.box-body {
  margin: 0px auto;
  background-color: rgb(0, 0, 0);
  width: 100%;
  height: 100%;
}
.box-nav nav {
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 5px;
  background-color: rgb(201, 201, 201);
  overflow: auto;
  color: #5f5d5d;
}
.box-switch {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5px;
}

.checkbox {
  border-style: outset;
  border-color: rgb(154, 197, 255);
  border-radius: 5px;
  background-color: rgb(226, 242, 255);
  padding: 4px;
  padding-right: 10px;
}
/* switch */
#sw-check1,
#sw-check2,
#sw-check3 {
  display: none;
}
.box-switch {
  background-color: #345d9d;
}
#switch-box1,
#switch-box2,
#switch-box3 {
  border: 2px solid #ababab;
  width: 92px;
  height: 26px;
  position: relative;
  line-height: 1rem;
  box-shadow: 0px 1px 2px #333;
  font-size: 0.8rem;
  font-family: Verdana;
  cursor: pointer;
  cursor: hand;
  background: rgba(33, 33, 33, 0.5);
  margin: 5px;
  display: flex;
}
.sw-box{
  text-align: center;
}

#switch-selector1,
#switch-selector2,
#switch-selector3 {
  background: #345d9d;
  margin: 1px;
  height: 24px;
  width: 50%;
  position: absolute;
  left: 0px;
  box-shadow: 0px 1px 3px #333;
}
.sw-active1,
.sw-active2,
.sw-active3,
.sw-inactive1,
.sw-inactive2,
.sw-inactive3 {
  position: absolute;
  line-height: 24px;
  text-shadow: 0px 0px 3px rgba(255, 255, 255, 0.4);
}
.sw1,
.sw2,
.sw3 {
  color: #fff;
}
.sw-active1,
.sw-active2,
.sw-active3 {
  right: 10px;
}
.sw-inactive1,
.sw-inactive2,
.sw-inactive3 {
  left: 10px;
}
.sw-deactivated1,
.sw-deactivated2,
.sw-deactivated3 {
  color: rgba(0, 0, 0, 0.3);
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
}
